<p>
  <a href="#">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div id="copyright">
  <br />Webmaster: <%= mail_to "muhamma2@andrew.cmu.edu", "Naufal Aziz", :encode => "javascript" %>
    &nbsp;&nbsp; © Copyright 2020
  <br /><br />
</div>